node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
static/
static/images
static/images/*.png
backend/__pycache__
backend/__pycache__/*.pyc
# macOS
.DS_Store
.gitignore
